.aboutOriginWrap{
    width: 100%;
    height: 1080px;
    background: #313177;
}

.aboutOrigin__Head{
    width: 100%;
    height: 200px;
}

.aboutOrigin__Head-text{
    text-align: left;
    margin-left: 30px;
    padding-top: 70px;
    color: #F0F0F0;
    font-size: 96px; 
}

.aboutOrigin__Desc{
    width: 100%;
    height: 200px;
}

.aboutOrigin__Desc-text{
    text-align: left;
    margin-left: 30px;
    padding-top: 70px;
    color: #F0F0F0;
    font-size: 48px; 
}  

@media (min-width: 992px) and (max-width: 1280px) {
    .aboutOriginWrap{
        width: 100%;
        height: 1080px;
        background: #313177;
    }
    
    .aboutOrigin__Head{
        width: 100%;
        height: 200px;
    }
    
    .aboutOrigin__Head-text{
        text-align: left;
        margin-left: 30px;
        padding-top: 70px;
        color: #F0F0F0;
        font-size: 82px; 
    }
    
    .aboutOrigin__Desc{
        width: 100%;
        height: 200px;
    }
    
    .aboutOrigin__Desc-text{
        text-align: left;
        margin-left: 30px;
        padding-top: 70px;
        color: #F0F0F0;
        font-size: 42px; 
    }  
}

@media (min-width: 768px) and (max-width: 991px) {
    .aboutOriginWrap{
        width: 100%;
        height: 1080px;
        background: #313177;
    }
    
    .aboutOrigin__Head{
        width: 100%;
        height: 200px;
    }
    
    .aboutOrigin__Head-text{
        text-align: left;
        margin-left: 30px;
        padding-top: 70px;
        color: #F0F0F0;
        font-size: 82px; 
    }
    
    .aboutOrigin__Desc{
        width: 100%;
        height: 200px;
    }
    
    .aboutOrigin__Desc-text{
        text-align: left;
        margin-left: 30px;
        padding-top: 70px;
        color: #F0F0F0;
        font-size: 36px; 
    }  
}

@media (min-width: 480px) and (max-width: 767px) {
    .aboutOriginWrap{
        width: 100%;
        height: 1080px;
        background: #313177;
    }
    
    .aboutOrigin__Head{
        width: 100%;
        height: 200px;
    }
    
    .aboutOrigin__Head-text{
        text-align: left;
        margin-left: 30px;
        padding-top: 70px;
        color: #F0F0F0;
        font-size: 64px; 
    }
    
    .aboutOrigin__Desc{
        width: 100%;
        height: 200px;
    }
    
    .aboutOrigin__Desc-text{
        text-align: left;
        margin-left: 30px;
        padding-top: 70px;
        color: #F0F0F0;
        font-size: 28px; 
    }  
}

@media (min-width: 320px) and (max-width: 479px) {
    .aboutOriginWrap{
        width: 100%;
        height: 920px;
        background: #313177;
    }
    
    .aboutOrigin__Head{
        width: 100%;
        height: 200px;
    }
    
    .aboutOrigin__Head-text{
        text-align: left;
        margin-left: 30px;
        padding-top: 70px;
        color: #F0F0F0;
        font-size: 36px; 
    }
    
    .aboutOrigin__Desc{
        width: 100%;
        height: 200px;
    }
    
    .aboutOrigin__Desc-text{
        text-align: left;
        margin-left: 30px;
        padding-top: 70px;
        color: #F0F0F0;
        font-size: 22px; 
    }    
}

@media (max-width: 320px) {

}